extends layout

block head
    title RepositóriDOIS
    link(rel='stylesheet', href='/stylesheets/main.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/color.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='icon', href='/img/favicon.png', type='image/png' sizes='16x16') 
    script(src='/javascript/main.min.js')
    script(src='/javascript/script.js')
    script(src='/javascript/crud.js')
    script(src='/javascript/custom.js')
    script(src='/javascript/jszip.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha256.js')

block body
    .theme-layout
        .responsive-header
            .mh-head.first.Sticky
                span.mh-text
                    h3 RepositóriDOIS
            
        .topbar.stick
            .logo
                h3(style='margin-top: 12px')
                    a(href='/') RepositóriDOIS
            .top-area
                ul.main-menu
                ul.setting-area
                    li
                        a(href='', title='Search', data-ripple='')
                            i.ti-search
                            span.ripple
                                span.ink(style='height: 21px; width: 21px; background-color: rgb(217, 217, 217); top: -0.25px; left: 0.983337px;')
                        .searched
                            form.form-search
                                input(type="text", placeholder='Procurar Tag', name='tag')
                                button(data-ripple='', onclick='getRecursosByTag()')
                                    i.ti-search
                    li
                        h6
                            a(href='', title='Logout', onclick='logout()') Logout
        section
            .gap.gray-bg
                .container-fluid
                    .row
                        .col-lg-12
                            div(class='row', id='page-contents')
                                .col-lg-8
                                    .central-meta
                                        .editing-info
                                            h5.f-title Adicionar Recurso
                                            form
                                                .form-group.half
                                                    input(type="text", id="titulo", name="titulo", required)
                                                    label(class='control-label', for="titulo") Título
                                                    i.mtrl-select
                                                .form-group.half
                                                    input(type="text", id="subtitulo", name="subtitulo", required)
                                                    label(class='control-label', for="subtitulo") Subtítulo
                                                    i.mtrl-select
                                                .form-group
                                                    select(style="display: none;", id="tipo")
                                                        option(value="Tipo", disabled) Tipo
                                                        each tipo in tipos
                                                            option(value=tipo._id)= tipo._id
                                                .form-radio
                                                    .radio
                                                        label
                                                            input(type="radio", id="visibilidade", name="visibilidade", value="Público" )
                                                            i.check-box
                                                            | Público
                                                    .radio
                                                        label
                                                            input(type="radio", id="visibilidade", name="visibilidade", value="Privado", checked="checked" )
                                                            i.check-box
                                                            | Privado
                                                .form-group
                                                    input(type="file", id="conteudo", name="conteudo", accept=".pdf,.zip,.doc,.docx,.xls,.xlsx,.txt")
                                                    label(class='control-label', for="conteudo") Ficheiro
                                                    i.mtrl-select
                                                .form-group
                                                    input(type="text", id="tags", name="tags", required)
                                                    label(class='control-label', for="tags") Tags (separadas por vírgulas)
                                                    i.mtrl-select
                                                input(type="hidden", id="username", name="username" value=username)
                                                .submit-btns
                                                    button.mtr-btn(type='button', id='adicionar', onclick='postRecurso()', style='margin-right: 5px;')
                                                        span Adicionar
                                                    button.mtr-btn(type='button', onclick='history.back();')
                                                        span Cancelar
                                .col-lg-4
                                    aside(class='sidebar static')
                                        .widget
                                            h4.widget-title Perfil
                                            .your-page
                                                .page-meta
                                                    a(href='/', title='', class='underline')= nome
                                                    span
                                                        i.ti-email
                                                        a= email
                                                    span
                                                        i.ti-book
                                                        a= instituicao
                                    aside(class='sidebar static')
                                        .widget
                                            h4.widget-title Recursos
                                            ul.naves
                                                li
                                                    a(href='/recursos/novo', title='') Adicionar Recurso
                                                li
                                                    a(href='/recursos?username='+username, title='') Meus Recursos
                                    aside(class='sidebar static')
                                        .widget
                                            h4.widget-title Tipos
                                            ul.naves
                                                li
                                                    a(href='/tipos/novo', title='') Criar Tipo
    
block footer
    .container
        .row
            .col-lg-4.col-md-4
                .widget
                    .foot-logo
                        .logo
                            h5(style='margin-top: 12px')
                                a(href='/') RepositóriDOIS
                        p RepositóriDOIS @ DAW2020
            .col-lg-2.col-md-4
                .widget
                    .widget-title
                        h4 Tipos
                    ul.list-style
                        li
                            a(href='/recursos?tipo='+tipos[0]._id, title='')= tipos[0]._id
                        li
                            a(href='/recursos?tipo='+tipos[1]._id, title='')= tipos[1]._id
                        li
                            a(href='/recursos?tipo='+tipos[2]._id, title='')= tipos[2]._id
            .col-lg-2.col-md-4
                .widget
                    .widget-title
                        h4 Links Úteis
                    ul.list-style
                        li
                            a(href='/recursos/', title='') Recursos
            .col-lg-4.col-md-4
                .widget
                    .widget-title
                        h4 Desenvilvido por
                    ul.list-style
                        li
                            a(href='mailto:pg42816@alunos.uminho.pt', title='') Cândido Vale
                        li
                            a(href='mailto:a84442@alunos.uminho.pt', title='') Diogo Ribeiro
                        li
                            a(href='mailto:a84244@alunos.uminho.pt', title='') Luís Cunha