extends layout

block head
    title RepositoriDOIS
    link(rel='stylesheet', href='/stylesheets/main.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/color.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='icon', href='/img/favicon.png', type='image/png' sizes='16x16') 
    script(src='/javascript/main.min.js')
    script(src='/javascript/custom.js')
    script(src='/javascript/script.js')
    script(src='/javascript/feed.js')

block body

    input(type="hidden", id="input-username", value=user.username)

    .theme-layout
        .responsive-header
            .mh-head.first.Sticky
                span.mh-text
                    h3 RepositoriDOIS
            
        .topbar.stick
            .logo
                h3(style='margin-top: 12px')
                    a(href='/') RepositoriDOIS
            .top-area
                ul.main-menu
                ul.setting-area
                    li
                        a(href='', title='Search', data-ripple='')
                            i.ti-search
                            span.ripple
                                span.ink(style='height: 21px; width: 21px; background-color: rgb(217, 217, 217); top: -0.25px; left: 0.983337px;')
                        .searched
                            form.form-search
                                input(type="text", placeholder='Procurar Tag', name='tag')
                                button(data-ripple='', onclick='getRecursosByTag()')
                                    i.ti-search
                    li
                        h6
                            a(href='', title='Logout', onclick='logout()') Logout
        section
            .gap.gray-bg
                .container-fluid
                    .row
                        .col-lg-12
                            div(class='row', id='page-contents')
                                .col-lg-2
                                    aside(class='sidebar static')
                                        .widget
                                            h2.widget-title Tipos
                                            ul.naves
                                                each t in tipos
                                                    li
                                                        a(href='/recursos?tipo='+t._id, title='')= t._id
                                .col-lg-6
                                    each post in posts
                                        .central-meta.item(style="display: inline-block;")
                                            .user-post
                                                .friend-info
                                                    .friend-name
                                                        ins
                                                            a(href="#" title="")= post.utilizador
                                                        span published: #{post.data}
                                                    .post-meta
                                                        p= post.recurso
                                                        .description
                                                            p= post.texto
                                                .coment-area
                                                    ul.we-comet
                                                        each comentario in post.comentarios
                                                            li
                                                                .we-comment
                                                                    .coment-head
                                                                        h5
                                                                            a(href="#" title="")= comentario.utilizador
                                                                        span= comentario.data
                                                                    p= comentario.texto
                                                        li.post-comment
                                                            .post-comt-box
                                                                .form
                                                                    textarea(placeholder="Escrever um comentário", id="textarea"+post._id)
                                                                    .submit-btns
                                                                        button.mtr-btn(type="button", onclick="comment('"+post._id+"')")
                                                                            span Comentar
                                .col-lg-4
                                    aside(class='sidebar static')
                                        .widget
                                            h4.widget-title Perfil
                                            .your-page
                                                .page-meta(style='padding-bottom: 10px;')
                                                    a(href='', title='', class='underline')= user.nome
                                                    span
                                                        i.ti-email
                                                        a= user.email
                                                    span
                                                        i.ti-book
                                                        a= user.instituicao
                                    aside(class='sidebar static')
                                        .widget
                                            h4.widget-title Recursos
                                            ul.naves
                                                li
                                                    a(href='/recursos/novo', title='') Adicionar Recurso
                                                li
                                                    a(href='/recursos?username='+username, title='') Meus Recursos
