extends layout

block head
    title RepositoriDOIS
    link(rel='stylesheet', href='/stylesheets/main.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/color.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='icon', href='/img/favicon.png', type='image/png' sizes='16x16') 
    script(src='/javascript/main.min.js')
    script(src='/javascript/custom.js')
    script(src='/javascript/script.js')
    script(src='/javascript/post.js')
    script(src='/javascript/noticia.js')

block body

    input(type="hidden", id="input-username", value=user.username)

    .theme-layout
        .responsive-header
            .mh-head.first.Sticky
                span.mh-text
                    h3 RepositoriDOIS
            
        .topbar.stick
            .logo
                h3(style='margin-top: 12px')
                    a(href='/') RepositoriDOIS
            .top-area
                ul.main-menu
                ul.setting-area
                    li
                        a(href='', title='Search', data-ripple='')
                            i.ti-search
                            span.ripple
                                span.ink(style='height: 21px; width: 21px; background-color: rgb(217, 217, 217); top: -0.25px; left: 0.983337px;')
                        .searched
                            form.form-search
                                input(type="text", placeholder='Procurar Tag', name='tag')
                                button(data-ripple='', onclick='getRecursosByTag()')
                                    i.ti-search
                    li
                        h6
                            a(href='', title='Logout', onclick='logout()') Logout
        section
            .gap.gray-bg
                .container-fluid
                    .row
                        .col-lg-12
                            div(class='row', id='page-contents')
                                .col-lg-2
                                    aside(class='sidebar static')
                                        .widget
                                            h2.widget-title Tipos
                                            ul.naves
                                                each t in tipos
                                                    li
                                                        a(href='/recursos?tipo='+t._id, title='')= t._id
                                .col-lg-6
                                    each post in posts
                                        - var elemid = (post.comentarios ? "post" : "noticia") + post._id;
                                        .central-meta.item(style="display: inline-block;", id=elemid)
                                            .user-post
                                                .friend-info
                                                    table(style="width: 100%;")
                                                        tr
                                                            td
                                                                ins(style="color: #088dcd; float: left; font-weight: 700; width: 100%; font-size: 18px; text-decoration: none;")= post.usr.nome
                                                            if user.admin || user.username == post.utilizador
                                                                td(rowspan="2")
                                                                    - var fun = post.comentarios ? "deletePost" : "deleteNoticia"
                                                                    button(type="button", onclick=fun+"('"+post._id+"')", style="float: right; font-size: 15px; border: 1px solid #5d6371; border-radius: 5px; padding: 5px; background-color: transparent;")
                                                                        | Apagar
                                                        tr
                                                            td
                                                                span(style="color: #999; float: left; font-size: 12px; width: 100%;") Published: #{post.data}
                                                    .post-meta
                                                        if post.recurso
                                                            div(style="box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); padding: 15px 15px 7px 15px;")
                                                                a(href="/recursos/"+post.recurso)
                                                                    h5 #{post.rec.tipo} - #{post.rec.titulo}
                                                                    h6= post.rec.autor
                                                        .description
                                                            p= post.texto
                                                if post.comentarios
                                                    .coment-area
                                                        ul.we-comet#comment-ul
                                                            each comentario in post.comentarios
                                                                li(id="postcom"+comentario._id)
                                                                    .we-comment
                                                                        .coment-head
                                                                            h5= comentario.utilizador
                                                                            span= comentario.data
                                                                            if user.admin || user.username == comentario.utilizador
                                                                                button(type="button", onclick="deletePostComment('"+post._id+"','"+comentario._id+"')", style="float: right; font-size: 10px; border: 1px solid #5d6371; border-radius: 5px; padding: 3px; background-color: transparent;") Apagar
                                                                        p= comentario.texto
                                                        ul.we-comet
                                                            li.post-comment
                                                                .post-comt-box
                                                                    .form
                                                                        textarea(placeholder="Escrever um comentário", id="textarea"+post._id)
                                                                        .submit-btns
                                                                            button.mtr-btn(type="button", onclick="comment('"+post._id+"')")
                                                                                span Comentar
                                .col-lg-4
                                    aside(class='sidebar static')
                                        .widget
                                            h4.widget-title Perfil
                                            .your-page
                                                .page-meta(style='padding-bottom: 10px;')
                                                    a(href='', title='', class='underline')= user.nome
                                                    span
                                                        i.ti-email
                                                        a= user.email
                                                    span
                                                        i.ti-book
                                                        a= user.instituicao
                                    aside(class='sidebar static')
                                        .widget
                                            h4.widget-title Recursos
                                            ul.naves
                                                li
                                                    a(href='/recursos/novo', title='') Adicionar Recurso
                                                li
                                                    a(href='/recursos?username='+user.username, title='') Meus Recursos
