extends layout

block head
    title RepositoriDOIS
    link(rel='stylesheet', href='/stylesheets/main.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/color.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='icon', href='/img/favicon.png', type='image/png' sizes='16x16')
    script(src='/javascript/main.min.js')
    script(src='/javascript/custom.js')
    script(src='/javascript/script.js')
    script(src='/javascript/recurso.js')
    script(src='/javascript/jszip.min.js')
    script(src='/javascript/crud.js')

block body

    input(type="hidden", id="input-username", value=user.username)

    div.modal#display(style='display: none;')

    .theme-layout
        .responsive-header
            .mh-head.first.Sticky
                span.mh-text
                    h3 RepositoriDOIS
            
        .topbar.stick
            .logo
                h3(style='margin-top: 12px')
                    a(href='/') RepositoriDOIS
            .top-area
                ul.main-menu
                ul.setting-area
                    li
                        a(href='', title='Search', data-ripple='')
                            i.ti-search
                            span.ripple
                                span.ink(style='height: 21px; width: 21px; background-color: rgb(217, 217, 217); top: -0.25px; left: 0.983337px;')
                        .searched
                            form.form-search
                                input(type="text", placeholder='Procurar Tag', name='tag')
                                button(data-ripple='', onclick='getRecursosByTag()')
                                    i.ti-search
                    li
                        h6
                            a(href='', title='Logout', onclick='logout()') Logout
        section
            .gap.gray-bg
                .container-fluid
                    .row
                        .col-lg-12
                            div(class='row', id='page-contents')
                                .col-lg-2
                                    aside(class='sidebar static')
                                        .widget
                                            h2.widget-title Tipos
                                            ul.naves
                                                each t in tipos
                                                    li
                                                        a(href='/recursos?tipo='+t._id, title='')= t._id
                                        .widget
                                            h2.widget-title Estrelas
                                            ul.naves
                                                li
                                                    i.ti-star
                                                    a(href="", onclick="star()")= recurso.stars

                                .col-lg-6
                                    .central-meta
                                        .about
                                            .personal
                                                h5.f-title= recurso.titulo
                                                p= recurso.subtitulo
                                                div(id="viewer")
                                                p
                                                    strong Autor: 
                                                        a(href='/utilizadores/'+recurso.autor) #{recurso.autor}
                                                p
                                                    strong Data de Criação: 
                                                    | #{recurso.dataCriacao}
                                                p
                                                    strong Tags: 
                                                    each tag in recurso.tags
                                                        if recurso.tags != ""
                                                            a(href='/recursos?tag='+tag) ##{tag}
                                .col-lg-4
                                    aside(class='sidebar static')
                                        .widget
                                            h4.widget-title Perfil
                                            .your-page
                                                .page-meta
                                                    a(href='/utilizadores/'+user.username, title=""+user.admin, class='underline', id="user_link")= user.nome
                                                    span
                                                        i.ti-email
                                                        a= user.email
                                                    span
                                                        i.ti-book
                                                        a= user.instituicao
                                    aside(class='sidebar static')
                                        .widget
                                            h4.widget-title Recursos
                                            ul.naves
                                                li
                                                    a(href='/recursos/novo', title='') Adicionar Recurso
                                                li
                                                    a(href='/recursos?username='+user.username, title='') Meus Recursos
                                    aside(class='sidebar static')
                                        .widget
                                            h4.widget-title Opções
                                            ul.naves
                                                li(id="criarpost")
                                                li(id="descarregar")
                                                li(id="editar")
                                                li(id="apagar")
